<div class="container">
    <br/>
    <br/>
    <br/>
    <h1> Delete a Material</h1>
    <select [(ngModel)]= "selected"  >           
        <option *ngFor='let item of data' [value]="item._id" > 
            {{item.name}}
        </option>
    </select>
    <br/>

    <div style="margin-top: 10px;">
        <div>
            {{variable}}
        </div>
    <button (click)="deleteMaterial()" name="button">delete</button>&nbsp;
    <button (click)="reset()" name="reset">reset</button>
    </div>
</div>
